<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<handlers accessPolicy="Read, Script">
			<remove name="php_5.2" />
			<remove name="php_5.3" />
			<remove name="php_5.4" />
			<remove name="php_5.5" />
			<remove name="php_5.6" />
			<remove name="php_7.0" />
			<remove name="php_7.1" />
            <add name="php_7.1" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\BtSoft\WebSoft\php\7.1\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="rewrite" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
